<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILabel_theme</key>
	<dict>
		<key>titleLabel</key>
		<dict>
			<key>textScaling</key>
			<dict>
				<key>shrinkText</key>
				<true/>
				<key>minimumScale</key>
				<real>0.5</real>
			</dict>
			<key>text_color</key>
			<string>229900</string>
			<key>font_size</key>
			<dict>
				<key>3x</key>
				<string>21</string>
				<key>2x</key>
				<string>19</string>
			</dict>
			<key>bold</key>
			<true/>
			<key>text_alignment</key>
			<dict>
				<key>en</key>
				<integer>0</integer>
				<key>ar</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>subTitleLabel</key>
		<dict>
			<key>textScaling</key>
			<dict>
				<key>shrinkText</key>
				<true/>
				<key>minimumScale</key>
				<real>0.5</real>
			</dict>
			<key>text_color</key>
			<string>229900</string>
			<key>font_size</key>
			<dict>
				<key>3x</key>
				<string>18</string>
				<key>2x</key>
				<string>16</string>
			</dict>
			<key>bold</key>
			<false/>
			<key>text_alignment</key>
			<dict>
				<key>en</key>
				<integer>0</integer>
				<key>ar</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>detailsLabel</key>
		<dict>
			<key>textScaling</key>
			<dict>
				<key>shrinkText</key>
				<true/>
				<key>minimumScale</key>
				<real>0.5</real>
			</dict>
			<key>text_color</key>
			<string>992200</string>
			<key>font_size</key>
			<dict>
				<key>3x</key>
				<string>15</string>
				<key>2x</key>
				<string>13</string>
			</dict>
			<key>bold</key>
			<false/>
			<key>text_alignment</key>
			<dict>
				<key>en</key>
				<integer>0</integer>
				<key>ar</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
